@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins' , sans-serif;
}
body {
  background-color:white;
}
.title-design {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color:#f51616;
    padding-top: 10px;
    padding-bottom: 15px;
}
img{
  margin-top: 30px;
}
.title-design-title {
  color: white;
  font-size: 30px;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.grab {
  width: 800px;
  height: 70px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  padding-top: 10px;
}
.container {
  margin-top: 40px;
  width: 100%;
  height: 350px;
}
.form {
  margin: auto;
  width: 60%;
  height: 100%;
}
.form-class {
  width: 100%;
  height: 20%;
  display: flex;
  margin-top: 15px;
}
.ipstyle {
  width: 350px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0);
}
.one-1 {
  width: 60%;
  height: 100%;
  padding-top: 5px;
  margin-right: 5px;
}
.one-2 {
  width: 40%;
  height: 100%;
  padding-top: 5px;
}
.equal {
  width: 50%;
  height: 100%;
  text-align: left;
  padding-top: 5px;
}
.btn-each {
  width: 25%;
  height: 50px;
  text-align: center;
  margin-top: 5px;
  margin: 10px;
}
.btn-each-main {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 8px;
}
.btn-each-main:hover {
  text-decoration: underline;
  color: transparent;
}

.marquee {
  width: 100%;
  height: 30px;
  background-color: black;
  margin-top: 80px;
  padding-top: 10px;
}
.marq-design {
  color: white;
}



/* Profile Button Container */
.profile-container {
  position: relative;
  display: inline-block;
}

/* Round Profile Button */
.profile-button {
  
  width: 50px;
  height: 50px;
  /*margin-left: 1080px;*/

  float: left;
  border-radius: 50%;
  background-color:#640a0a;
  
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  margin-top: 0px;
}

.profile-button:hover {
  background-color: #ffffff;
}

/* Dropdown Menu */
.dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.profile-container:hover .dropdown {
  display: block;
}

/* Dropdown Buttons */
.dropdown button {
  width: 20vh;
  padding: 10px 20px;

  background: none;
  border: none;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s;
}

.dropdown button:hover {
  background-color: #f5f5f5;
}